<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Банкоматы</title>
</head>
<body>
    <h1>Список банкоматов</h1>
    <ul>
        {% for atm in atms %}
            <li><a href="{% url 'atm_detail' atm.atm_number %}">{{ atm.atm_number }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_atm' %}"><button>Добавить новый банкомат</button></a>
    <a href="/"><button>Главная</button></a>
</body>
</html>
