<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Операции</title>
</head>
<body>
    <h1>Список операций</h1>
    <ul>
        {% for operation in operations %}
            <li><a href="{% url 'operation_detail' operation.amount %}">{{ operation.amount }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_operation' %}"><button>Добавить новую операцию</button></a>
    <a href="/"><button>Главная</button></a>
</body>
</html>
