<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Операции</title>
</head>
<body>
    <h1>Список операций</h1>
    <ul>
        {% for operation in operations %}
            <li>
                <a href="{% url 'operation_detail' operation.id %}">
                    {% if operation.card_number.bank != operation.atm_number.bank %}
                        {{ operation.amount|add:operation.comission|floatformat:2 }}
                    {% else %}
                        {{ operation.amount|floatformat:2 }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_operation' %}"><button>Добавить новую операцию</button></a>
    <a href="/"><button>Главная</button></a>
</body>
</html>
